* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

img {
  width: 100%;
}

ul,
li,
menu {
  list-style: none;
}

.container {
  background: rgb(1, 149, 136);
  background: linear-gradient(
    180deg,
    rgba(1, 149, 136, 1) 150px,
    rgba(217, 218, 210, 1) 150px
  );
  background-color: #d9dad2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  overflow-x: hidden;
}

.app {
  height: 90%;
  background-color: white;
  width: 60%;
  max-width: 1400px;
  display: flex;
}

.users-container {
  background-color: white;
  height: 100%;
  width: 400px;
  flex-shrink: 0;
  border-right: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
}

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.user-header,
.text-header,
.text-footer {
  height: 69px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  padding: 9px 15px;
}

.text-container {
  background-image: url('../img/mine.jpg');
  flex-grow: 1;
}

.notification {
  color: #8fd9fb;
  background-color: #8fd9fb;
  height: 73px;
  display: flex;
  align-items: center;
  padding: 9px 15px;
}

.icon-container {
  background-color: white;
  border-radius: 50%;
  padding: 11px;
  aspect-ratio: 1;
  margin-right: 15px;
}

.icon-container > i {
  font-size: 22px;
}

.search-bar {
  height: 47px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #cdcdcd;
}

.search-icon {
  background-color: white;
  color: #a8a8a8;
  font-size: 20px;
  padding: 0 20px;
  border-right: 1px solid #cdcdcd;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-search {
  border: none;
  height: 100%;
  flex-grow: 1;
  background-color: white;
  padding: 0 10px;
}

.contacts-container {
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.contacts {
  height: 100%;
  overflow-y: scroll;
}

.contacts::-webkit-scrollbar {
  display: none;
}
/* USER CARD */

.my-avatar-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.my-name {
  flex-grow: 1;
}

.options > i {
  color: #a1a1a1;
  font-size: 18px;
}

h5 {
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.notify-title {
  color: black;
  font-size: 14px;
  line-height: 1.5em;
}

p {
  color: black;
  font-size: 13px;
}

/* CONTACT CARDS */

.contact {
  padding: 8px 5px 8px 20px;
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #cdcdcd;
}

.contact:hover {
  background-color: #eaeaea;
}

.contact-time {
  display: flex;
  font-size: 10px;
  color: #393939;
  align-items: top;
  justify-content: end;
  height: 100%;
}

.avatar-img {
  width: 55px;
  border-radius: 50%;
  margin-right: 16px;
}

.contact-content {
  flex-grow: 1;
}

.contact-title {
  color: black;
  font-size: 14px;
  line-height: 1.5em;
}

.last-message {
  color: #a6a8a8;
  line-height: 1.3em;
}

/* TEXT */

/* TEXT HEADER */

.header-contact {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header-contact-text {
  flex-grow: 1;
  width: 100%;
}
.header-contact .last-message {
  color: #393939;
  font-weight: 500;
}
.header-contact img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.text-header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #a1a1a1;
}

/* TEXT FOOTER */

.text-footer {
  padding: 10px 0px;
  display: flex;
  flex-shrink: 0;
}

.message-input {
  height: 100%;
  flex-grow: 1;
}
.message-input > input {
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 10px 20px;
}

.text-footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  font-size: 25px;
}

/* TEXT MESSAGES */

.text-container {
  padding: 50px 75px;
  overflow-y: scroll;
}

.text-container::-webkit-scrollbar {
  display: none;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  padding: 15px 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message:hover .message-option {
  opacity: 100;
}

.message-text {
  padding-right: 15px;
  padding-bottom: 3px;
}

.message-time {
  text-align: end;
  color: #a1a1a1;
  font-size: 10px;
}

.message-option {
  text-align: end;
  color: #a1a1a1;
  margin-top: -12px;
  opacity: 0;
}

.sent {
  background-color: #d3f8b9;
  align-self: end;
}

.received {
  background-color: white;
  align-self: start;
}

.active {
  background-color: #eaeaea;
}
