<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <script
      src="https://kit.fontawesome.com/6bbc3537db.js"
      crossorigin="anonymous"
    ></script>
    <script>
      window.FontAwesomeConfig = {
        searchPseudoElements: true,
      };
    </script>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <section>
        <div class="container">
          <div class="app">
            <!-- USER CONTAINER -->
            <div class="users-container">
              <!-- USER HEADER -->
              <div class="header">
                <div class="user-header">
                  <div class="my-avatar">
                    <img
                      class="my-avatar-img"
                      src="./img/avatar_1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="my-name">
                    <h5>Stefano</h5>
                  </div>
                  <div class="options">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </div>
                </div>
                <!-- NOTIFICATION -->
                <div class="notification">
                  <div class="icon-container">
                    <i class="fa-solid fa-bell-slash"></i>
                  </div>
                  <div>
                    <h5 class="notify-title">
                      Ricevi notifiche di nuovi messaggi
                    </h5>
                    <p>Lorem ipsum dolor sit amet?</p>
                  </div>
                </div>
                <!-- USER SEARCH BAR -->
                <div class="search-bar">
                  <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </div>
                  <input
                    class="contact-search"
                    type="text"
                    placeholder="Cerca o inizia una nuova chat"
                    v-model="contactSearch"
                    @keyup="search()"
                  />
                </div>
              </div>
              <div class="contacts-container">
                <!-- CONTACTS -->
                <ul class="contacts">
                  <li
                    class="contact"
                    @click="active(index)"
                    v-for="(contact, index) in contacts"
                    key="index"
                    :class="{'active': index === activeContact}"
                  >
                    <img
                      class="avatar-img"
                      :src="contact.avatar"
                      :alt="contact.avatar"
                    />
                    <div class="contact-content">
                      <h5 class="contact-title">{{ contact.name }}</h5>
                      <p class="last-message">
                        {{ contact.messages.at(-1).message }}
                      </p>
                    </div>
                    <div class="contact-time">
                      {{ contact.messages.at(-1).date.slice(11,16) }}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- TEXT CONTAINER -->
            <div class="text">
              <!-- TEXT HEADER -->
              <div class="text-header">
                <div class="header-contact">
                  <img :src="contacts[activeContact].avatar" />
                  <div class="header-contact-text">
                    <h5 class="contact-title">
                      {{ contacts[activeContact].name }}
                    </h5>
                    <p class="last-message">
                      {{ contacts[activeContact].messages.at(-1).message }}
                    </p>
                  </div>
                  <div class="text-header-icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </div>
                </div>
              </div>
              <!-- TEXT CONTAINER -->
              <div class="text-container">
                <ul class="message-container">
                  <li
                    class="message"
                    :class="message.status"
                    v-for="(message, index) in contacts[activeContact].messages"
                    @mouseleave="dropDownShow = false"
                  >
                    <div class="message-option">
                      <div
                        class="dropDown"
                        :class="{'showDropDown': dropDownShow === true}"
                      >
                        <div>Message info</div>
                        <div class="deleteMsg" @click="deleteMsg(index)">
                          Delete message
                        </div>
                      </div>
                      <i
                        class="fa-solid fa-chevron-down"
                        @click="dropDown()"
                      ></i>
                    </div>
                    <div class="message-text">{{ message.message }}</div>
                    <div class="message-time">
                      {{ message.date.slice(11,16) }}
                    </div>
                  </li>
                </ul>
              </div>
              <!-- TEXT FOOTER -->
              <div class="text-footer">
                <div class="text-footer-icon">
                  <i class="fa-sharp fa-regular fa-face-smile"></i>
                </div>
                <div class="message-input">
                  <input
                    type="text"
                    placeholder="Scrivi messaggio"
                    v-model="newMessage.message"
                    @keyup.enter="sendMessage(index)"
                  />
                </div>
                <div class="text-footer-icon">
                  <i class="fa-solid fa-microphone"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="./js/app.js"></script>
  </body>
</html>
